<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Upload Patient Information</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>

<style>
body {
	font-family: "Raleway", Arial, sans-serif;
	background-color: #ccf2ff;
    style="align:center;
}
div {
	margin-left: 150px;
}
</style>
 
<!-- Header -->
<center><header class="w3-panel w3-center w3-opacity" style="padding:40px 16px">
  <img src="https://ton.twitter.com/i/ton/data/dm/936978468126027780/936978441718476800/EEuw-yUe.png:large" style="width:300px;height:175px;"></center>
  
<div class="container"> 
 
  <center><h2>Patient Requisite</h2></center>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
	<label for="name"><b>Name</b></label>
	<center><input type="text" class="form-control" id="name" name="name" placeholder="Last, First"></center>
	<br>
	<label for=“referring physician”><b>Referring Physician</b></label>
	<center><input type="text" class="form-control" id=“referringphysician” name=“referringphysician” placeholder="Last, First"></center>
	<br>
	<label for=“gender”><b>Gender</b></label>
	<center><input type=“gender” class="form-control" id=“gender” name=“gender” placeholder="Male, Female, Non-Binary"></center>
	<br>
	<label for=“dob”><b>D.O.B</b></label>
	<center><input type="text" class="form-control" id=“dob” name=“dob” placeholder="Month/Day/Year"></center>
	<br>
	<label for=“rmNum”><b>Room Number</b></label>
	<center><input type="text" class="form-control" id=“rmNum” name=“rmNum” placeholder="Check Availability"></center>
	<br>
	<label for=“protocol”><b>Protocol</b></label>
	<center><input type="text" class="form-control" id=“protocol” name=“protocol” placeholder="View Position & Anatomy"></center>
	<br>
	<label for=“priorty”><b>Priority</b></label>
	<center><input type="text" class="form-control" id=“priority” name=“priority” placeholder="Urgent, Emergent, Walk-In"></center>
	<br>
	<label for=“IDnum”><b>ID Number</b></label>
	<center><input type="text" class="form-control" id=“IDnum” name=“IDnum” placeholder="Patient Identification"></center>

<p style="margin-left: 1em;padding: 0 1em 1em 0;border-width: 1px; border-color: #ccf2ff; border-style:solid;"></p>

    </div>
    <center><button type="submit" class="btn btn-success">Sign Up</button>
  </form></center>
 
  <br>
  
 <p style="margin-left: 10em;padding: 0 10em 10em 0;border-width: 10px; border-color: #ccf2ff; border-style:solid;"></p>


<a href="default.asp">
    	</div>
    <button type="GoBack" class="btn btn-success">Return</button>
  </form> 
	</a>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>
